@model Model.Alumno
@{
    ViewBag.Title = Model.Nombre + " " + Model.Apellido;
}

<ol class="breadcrumb">
    <li><a href="~/">Alumnos</a></li>
    <li class="active">@(Model.Nombre + " "+ Model.Apellido)</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">Informacion personal</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Nombre</dt>
            <dd>@Model.Nombre</dd>
            <dt>Apellido</dt>
            <dd>@Model.Apellido</dd>
        </dl>
    </div>
</div>
