<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mi primer proyecto MVC - @ViewBag.Title</title>


    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.6.3.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="jumbotron">
            <h1>Mi primer proyecto MVC</h1>
        </div>
    
        @RenderBody()
    </div>

    <script src="~/assets/js/bootstrap.min.js"></script>
</body>
</html>
