<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
  
   @RenderBody()



    <script src="~/assets/js/bootstrap.min.js"></script>
</body>
</html>
